.dark-blue-text-bold {
    color: #18355e;
    font-weight: bold;
}
.dark-blue-text-normal {
    color: #18355e;
    font-weight: 550;
}
.heading-text-big{
    font-size: 1.8rem;
    font-weight: bold;
    color:#333;
}

.checkbox-cxrus{
    .custom-control-label::before{
        border-radius:2px;
        width: 20px;
        height: 20px;
    }
    .custom-control-label::after{
        border-radius:2px;
        width: 20px;
        height: 20px;
    }
    .custom-control-label-text{
      padding-left: 0px !important;  
    }
}