/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em;
  /* Sizes the switch */
  margin: 0 1em;
  top: 1rem;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked+.switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked+.switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked+.switch-left+.switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked+.switch-left+.switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus+.switch-left {
  color: #333;
}

input:checked:focus+.switch-left {
  color: #fff;
}

input:focus+.switch-left+.switch-right {
  color: #fff;
}

input:checked:focus+.switch-left+.switch-right {
  color: #333;
}

body.has-edit-mode-menu {
  .styleswitcher {
    display: none;
  }
}

.styleswitcher {
  z-index: 1000 !important;
  position: absolute;

  .settings-btn {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  .settings-btn+label {
    position: fixed;
    top: 149px;
    right: 0;
    display: block;
    padding: 10px;
    color: #333;
    text-align: center;
    background: #fff;
    cursor: pointer;

    @include themify($themes) {
      border-left: 3px solid themed("primaryColor");
    }
  }

  .settings-btn:checked+label {
    right: 200px;
    transition: all 0.3s;
  }

  .buttons-wrapper {
    position: fixed;
    top: 149px;
    right: -200px;
    width: 200px;
    height: auto;
    background: #fff;
    transition: all 0.3s;
    text-align: center;

    @include themify($themes) {
      border-bottom: 3px solid themed("primaryColor");
    }
  }

  .settings-btn:checked~.buttons-wrapper {
    right: 0;
  }

  .title-panel {
    padding: 1rem;
  }

  .item-panel {
    display: block;
    width: 100%;
    position: relative;
    text-align: left;
    padding: 0 1rem;

    .label {
      margin: 1rem 0;
      position: relative;
      bottom: .3rem;
      font-size: .6rem;
    }

    .rocker-small {
      position: absolute;
      right: 0;
      top: 0;
      font-size: .5rem;
    }
  }
}

// Dargable Mode
.view-content {
  display: none;
  cursor: pointer;
  font-size: 1rem;
  color: #999;

  &:hover {
    color: #000;
  }
}

.dragable_mode {
  .portlet-body {
    display: none;
  }

  .portlet-layout {
    .portlet-header {
      margin-bottom: 0;
    }

    .portlet {
      .portlet-title-text {
        font-size: 1.5rem;
      }
    }
  }

  .view-content {
    display: block;
  }
}

.item-bottom {
  padding-bottom: 2rem;

  .label {
    display: block;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

//control-menu
.lfr-product-menu-panel,
.control-menu-container {
  opacity: 0;
  visibility: hidden !important;
}

.control-menu-container {
  position: absolute !important;
}

body.show_c_menu .lfr-product-menu-panel,
body.show_c_menu .control-menu-container,
body.has-edit-mode-menu .lfr-product-menu-panel,
body.has-edit-mode-menu .control-menu-container {
  opacity: 1;
  visibility: visible !important;
}

body.show_c_menu .control-menu-container,
body.has-edit-mode-menu .control-menu-container {
  position: sticky !important;
}

.lfr-product-menu-panel,
.control-menu-container,
.CX-utama,
.CX-header {
  @include transition(all 0.3s ease-in-out);
}

.show_c_menu {
  .header-container {
    margin-top: 55px;
  }

  .CX-utama-ntuc {
    margin-top: 0px;
  }
}

.signed-out {
  margin-bottom: 0px;

  .header-container {
    margin-top: 0px;
  }
}