@import "slick-1.8.1/slick/slick.scss";
@import "DataTables/datatables.min.css";
@import "DataTables/datatables.bootstrap4.css";

.eshop-registered-course-web {
}

.download {
	text-align: right;
}

.btn-white {
	outline: 0;
}

.btn-white i {
	color: #FBD148;
}