.ntuc-comments-web {
}

.btn-1, .hs-button{
    background:#18355f !important;
    border:#fcd205 solid 2px !important;
    color:#fcd205 !important;
}
.btn-1:hover, .hs-button:hover{
    background:#fcd205 !important;
    color:#fff !important;
}

.minw-3 {
    min-width: 200px;
}