<div class="col-md-6 ">
  <div class="box-fill">
    <div class="row">
      <div class="title col-md-9">Fill-up automatically with</div>
      <div class="col-md-3">
        <div class="row">
          <img alt="" src="/o/web.ntuc.eshop.register/img/My%20Info%20Logo.png">
        </div>
      </div>
    </div>
    <div class="wd-extra">
      <small>Log in using your Singpass to securely retrieve all your personal details instantly.</small> <small>We will
        only retrieve your
        identity for verification purposes.</small>
    </div>

    <div class="mt-3 mb-3">
      <div class="row">
        <div class="col-md-2 pr-0 text-center">
          <img alt="" src="/o/web.ntuc.eshop.register/img/Info_Icon.png" width="30" height="30">
        </div>
        <div class="col-md-10 p-0">
          <small>By proceeding you will be
            redirected to log into Singpass to retrieve your data from
            Goverment agencies.</small>
        </div>
      </div>
    </div>
    <form id="formAuthorise">
      <a href="#" onclick="$(this).closest('form').submit()"><img alt=""
          src="/o/web.ntuc.eshop.register/img/Singpass%20CTA%20Button.png"></a>
    </form>
  </div>
</div>